@charset "UTF-8";
/* body */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto'; 
}

head {
    background-color: rgba(243, 137, 160, 0.932);
}
body {
    background-color: rgb(209, 250, 236);
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(243, 137, 160, 0.932);
    font-size: 8vw;
    margin-left: 40%;
    margin-top: 20%;
}
h2,
h3,
h4,
h5,
button,
main,
p .body .footer .navar {
  font-family: 'Roboto';
  color:#0D0D0D; }

p {
  font-size: 16px; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #0D0D0D; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none;
  text-decoration: none; }

footer {
  text-align: left;
  flex-wrap: nowrap;
  background: #0D0D0D;
  font-family:'Roboto';
  padding: 50px 0px 50px 0px;
  font-size: 14px; }

.notmargin {
  margin: 0px;
  padding: 0px; }

.logoshome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin: 50px 70px 20px 70px; }

.espacio {
  margin: 0px 30px 0px 30px; }

.espacio1 {
  margin: 0px 0px 0px 70px; }

.position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.square-brand {
  display: flex;
  height: 300px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  position: relative; }

.square-brand:hover {
  transition: .4s ease;
  box-shadow: 0px 0px 20px #888888; }

.square-brand-text {
  text-align: left;
  padding: 0px 0px 0px 0px;
  color: #383838; }

.square-brand-text h3 {
  font-weight: bold;
  font-size: 18px; }

.square-brand-text h6 {
  font-weight: normal;
  font-size: 14px; }

.square-brand-product {
  display: flex;
  width: 410px;
  height: 240px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  position: relative; }
  .square-brand-product img {
    padding-left: 30px; }
  .square-brand-product:hover {
    transition: .4s ease;
    box-shadow: 0px 0px 20px #888888; }

.imput {
  margin: 10px;
  padding: 10px; }

.imput option {
  margin: 20px;
  padding: 20px; }

.d-flex-contacto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
.header {
  z-index: 30;
  font-weight: 900;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 60px 80px 60px 80px; }

.nav-item {
  margin-left: 10px;
  margin-right: 10px; }

.logohead {
  margin-left: 10px;
  margin-right: 250px; }

.menu-space {
  flex-wrap: nowrap; }

.wrapmenu {
  flex-wrap: nowrap; }

.logo-menu-mobile {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.dropdown-menu {
  border: none;
  min-width: 250px;
  padding: 20px 20px 20px 20px; }

.dropdown-item {
  font-size: 12px;
  font-weight: 800;
  z-index: 30;
  color: #383838;
  background-color: #ffff;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 20px 20px 20px; }

.dropdown-item:hover {
  background: #ffff;
  color: #383838 !important;
  border: 0;
  border-radius: 0px; }

.linea {
  width: 200px;
  height: 1px;
  background: #888888;
  display: block;
  margin-bottom: 3px;
  padding-right: 20px; }

.contactohead1 {
  font-weight: 900;
  font-size: 12px;
  margin: 10px 10px 10px 10px; }

.contactohead3 {
  font-weight: 900;
  font-size: 12px;
  margin: 40px 10px 10px 10px; }

.contactohead2 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: normal; }

.coordenadas {
  margin-left: 30px; }

.redesespacio {
  margin: 20px 10px 20px 10px; }

.sdider {
  font-family: 'Rubik', sans-serif;
  max-width: 100%; }

.logo-footer {
  margin-bottom: 20px; }

.margin-footer {
  margin-left: 108px;
  margin-right: 130px; }

.footer-contacts p {
  font-size: 12px;
  color: #AAAAAA; }

.footer-list {
  align-items: flex-start;
  align-content: space-between; }

.footer-list h4 {
  font-size: 14px;
  color: #AAAAAA; }

.footer-list h6 {
  font-size: 14px;
  color: #AAAAAA; }

.footer-list-enlaces {
  color: #AAAAAA; }

.footer-list-enlaces li {
  color: #AAAAAA; }

.footer-list-enlaces a {
  color: #AAAAAA; }

.footer-list-2 {
  padding: 0px 70px 0px 20px; }

.redesespacio-footer {
  flex-wrap: wrap;
  margin-left: 10px;
  color: #888888;
  text-decoration: none; }

.redesespacio-footer:hover {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none; }

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }

/*********** Productos CSS **********/
.card {
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; 
  margin: 3rem;
  float: left;
  position:relative;
}
.card-group .productos {
  position: relative;
  width: 100%;
  margin-left: 25%;
  margin-bottom: 100px;
  background: #FFFFFF;
}
.card-group .productos .productos-item {
  position: relative;
  width: 338px;
  height: 553px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-top: 70px;
  padding: 10px;
  background: #FFFFFF;
  border: 2px solid #979797;
}
.productos .productos-img {
  position: relative;
  overflow: hidden;
}
.productos .productos-img img {
  position: relative;
  width: 338px;
  height: 398px;
  width: 100%;
}
.productos .productos-text {
  position: relative;
  padding: 25px 15px 10px 15px;
  text-align: center;
  background: #FFFFFF;
}
.productos .productos-text h2 {
  font-size: 19px;
  margin: 0;
  font-size: 19px;
  color: #0D0D0D;
}
.productos .productos-text span {
  color: #979797;
  margin: 0;
  font-size: 19px;
  text-decoration:line-through;
}
.productos .productos-text h4 {
  color: #979797;
  margin: 0;
  font-size: 19px;
}
.productos .productos-text p{
  color: #0D0D0D;
  margin: 0;
  font-size: 14px;
  text-align: right;
}
.catalogo {
  margin-left: 4%;
}


